@charset "UTF-8";

body {
    background: #3C81D3;
}

header {
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 70vw;
    border-radius: 10px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}